@import "variables"
@import "prefixes"

@media only screen and (max-width: 1200px)
  .wrapper
    padding: 0 15px

  .header_top__description
    flex-direction: column

    p
      margin: 0
      text-align: center
      width: 100%
      padding: 0

  .header__nav ul li
    margin-right: 15px

  .firstScreen_half h1 span
    margin-left: -15px

@media only screen and (max-width: 1100px)
  .header__nav
    display: none

  .header_top .btn
    margin-right: 50px

@media only screen and (max-width: 1000px)
  .firstScreen_half
    width: 49% !important

  .how__description
    padding-right: 20px
    width: 350px

@media only screen and (max-width: 900px)
  .firstScreen_half h1
    font-size: 55px

  .how__description
    padding-right: 20px
    width: 250px

@media only screen and (max-width: 767px)
  .header_top
    flex-wrap: wrap

    &__description
      flex-direction: row
      width: 100%
      justify-content: space-around
      margin-right: 50px

      p
        width: auto

    .btn
      margin-right: 0

  .s_firstScreen, .s_advantages, .s_how, .s_offer, .s_consult, .s_license, .s_feedback
    margin-bottom: 60px

  .firstScreen_half
    h1
      font-size: 40px
      margin-bottom: 10px

    p
      font-size: 16px

  .innerTitle
    font-size: 35px

    span
      font-size: 25px

  .advantages__item
    width: 49.5%

    &:last-child
      margin: 0 auto

  .advantages__item__title
    font-size: 20px !important

  .s_how
    background-size: 100% 300px

  .how__one, .how__two, .how__three, .how__four, .how__five, .how__six, .how__seven
    position: static
    width: 90%

  .how__description
    visibility: visible
    opacity: 1
    position: relative
    +box-sizing(border-box)
    width: 100%

  .offer_half
    width: 100%

  .offer__tab
    font-size: 16px

  .offer__listItems
    height: 400px

  .offer__item
    position: static
    +object-fit(contain)
    text-align: center

  .offer__info
    max-width: 100%

  .docs__item img
    width: 40px

  .docs__item a
    font-size: 14px

  .consult ul
    flex-direction: column

    li
      margin-bottom: 10px
      width: 80%

  .innerTitle span
    display: block
    margin-bottom: 10px

  .feedback .innerTitle span
    font-size: 22px

  .callback li:nth-child(2)
    margin-right: 0

  .footer__wrapper
    flex-wrap: wrap
    flex-direction: column

  .footer__description
    width: 100%
    justify-content: space-around

  .footer__mail, .footer__phone, .social__links
    padding-top: 10px

@media only screen and (max-width: 640px)
  .header_top__description
    flex-direction: column
    margin: 0 auto 0 0
    max-width: 75%

  .header_top__description p
    font-size: 14px

  .header_top__phone
    padding-top: 10px
    text-align: left

  .header_top .btn
    margin-top: 10px

  .header_top
    align-items: center

  .firstScreen
    flex-wrap: wrap

  .firstScreen_half
    width: 100%

  .firstScreen_half h1
    font-size: 25px

  .firstScreen_half h1 span
    line-height: 1.4
    width: 100%
    margin: 0
    display: block

  .firstScreen_half p
    font-size: 14px
    margin-bottom: 10px

  .s_firstScreen, .s_advantages, .s_how, .s_offer, .s_consult, .s_license, .s_feedback
    margin-bottom: 30px

  .innerTitle
    font-size: 25px

    span
      font-size: 18px

  .advantages__item
    width: 100%

  .advantages__item__title
    font-size: 16px !important

  .advantages__item a .advantages__item_hover p
    font-size: 14px

  .advantages__item a .advantages__item_hover .advantages__item__title
    height: 40px

  .offer__listItems
    height: auto

  .offer__price__wrapper
    position: static
    max-width: 220px
    margin: 0 auto

  .offer__price__title
    font-size: 16px

  .offer__price__value
    font-size: 25px

  .docs
    flex-direction: column

  .docs__item
    width: 100%
    padding-bottom: 0

    &:last-child
      padding-bottom: 40px

  .consult ul li
    margin-right: 0
    width: 100%

  .license p
    width: 100%
    font-size: 14px

  .license__items
    flex-wrap: wrap

  .license__items a
    width: 48%

  .feedback__slider__item
    margin: 10px 0
    flex-direction: column

  .feedback__slider__item img, .feedback__slider__item__content
    width: 100%

  .feedback__slider__item__content h3
    font-size: 18px

  .feedback__slider__item__content p
    font-size: 14px

  .callback li
    margin-right: 0

  .callback li input[type=submit]
    width: 100%

  .footer__description
    flex-direction: column